<!doctype html>
<html ng-app="myApp">
    <head>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body>
        <div class="container">
            <div ng-controller="SearchCtrl">
                <form class="well form-search">
                    <label>Search:</label>
                    <input type="text" ng-model="keywords" class="input-medium search-query" placeholder="Keywords..."/>
                    <button type="submit" class="btn" ng-click="search()">Search</button>
                    <p class="help-block">Try for example: 'php' or 'angularjs'</p>
                </form>
                <pre ng-model="results">
                    {{ result }}
                </pre>
            </div>

        </div>
    </body>
</html>