<!doctype html>
<html ng-app="myApp">
    <head>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body>
        <div class="container">
            <div ng-controller="MyController">
                <input type="text" ng-model="person.name" placeholder="Enter a name here"/>
                <h1>Hello,  {{ person.name }}</h1>
                <h2>Hi, Fixed name {{ name }}</h2>
                <p>{{ clock }}</p>
                <li ng-repeat="person in roommates">{{ person.name }}</li>
                <li ng-repeat="(name, colour) in people">{{ name }}'s fav colour is {{ colour }}</li>
                <input type="text" ng-model="directivename"/>
                <span ng-bind="directivename"></span>
            </div>
            <div ng-controller="MyController">
                {{ person.name }}
            </div>
            <div ng-controller="ParentController">
                <div ng-controller="ChildController">
                    <input type="text" ng-model="person.name" placeholder="Name"/>
                    <a ng-click="sayHello()">Say hello</a>
                    <a ng-click="reset()">Reset</a>
                </div>
                {{ person }}
            </div>
            <div ng-controller="PlayerController">
                <button ng-click="play()" class="button" ng-show="!playing">Play</button>
                <button ng-click="stop()" class="button alert" ng-show="playing">Stop</button>
                Playing audio: <b>{{ playing }}</b>
                Programs
                {{ programs }}
            </div>
            <div ng-controller="RelatedController">

            </div>
            <div ng-controller="DemoController">
                <h4>The simplest adding machine ever</h4>
                <button ng-click="add(1)" class="button">Add</button>
                <button ng-click="subtract(1)" class="button">Subtract</button>
                <h4>Currenct Count: {{ counter }}</h4>
            </div>
            <div ng-sparkline></div>
        </div>
    </body>
</html>