<!doctype html>
<html ng-app="myApp">
    <head>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src="http://documentcloud.github.com/underscore/underscore.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body>
    <div class="container">
        <div ng-controller="TodoCtrl">
        <h2>To do [ {{getTotalTodos()}} ]</h2>
            <span>{{getRemainingTodos()}} of {{todos.length}} remaining</span>
            [ <a href="" ng-click="archive()">archive</a> ]
            <ul class="unstyled">
                <li ng-repeat="todo in todos">
                    <input type="checkbox" ng-model="todo.done">
                    <span class="done-{{todo.done}}">{{todo.text}}</span>
                </li>
            </ul>
            <form ng-submit="addTodo()">
                <input type="text" ng-model="todoText" size="30" placeholder="add new todo here">
                <input class="btn-primary" type="submit" value="add">
            </form>
            <input type="button" class="btn-large" value="Clear Completed" ng-click="clearCompleted()"/>
        </div>
    </div>

    </body>
</html>